.slicknav_menu{
	display: none;
}
@media screen and ( max-width: 980px ){
	.slicknav_menu{
		display: block;
		background: #fff;
		.slicknav_btn{
			float: left;
		}
		.slicknav_nav{
			background: #4c4c4c ;
			li{
				>a{
					margin: 2px 5px;
					padding: 8px 10px 8px 20px;
					font-size: 14px;
					font-weight: 700;
				}
			}
		}
	}
	.top-menu{
		display: none;
	}
	.site-footer .top-footer [class*="col-md"]{
		margin-bottom: 25px;
		padding: 0;
	}
	.site-footer .row{
		margin: 0;
	}
	.site-main{
		margin-bottom: 50px;
	}
}
@media screen and (max-width: 680px) {
	.product_cat_list .product_cat_item{
		width: 80%;
		margin: 25px auto 0;
		float: none;
		img{
			width: 100%;
		}
	}
}
@media screen and (max-width: 480px) {
	.product_cat_list .product_cat_item{
		width: 100%;
	}
}
@media screen and (max-width: 479px) {
	.list-product .product{
		width: 100%;
	}
}