@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,700italic&subset=latin,vietnamese);
@import "elements";

@body_primary_color: #009bcb;
@body_second_color: #FF9200;
@body_color: #181835;
@body_bg: #fff;
@border_color: #d7d7d7;
@white: #fff;
.font-icon {
	font-family: 'FontAwesome';
}

.inline-block {
	display:        inline-block;
	*display:       inline;
	zoom:           1;
	vertical-align: middle;
}
img {
	max-width: 100%;
	height:    auto;
}
*{
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family:      'Open Sans', sans-serif;
	margin:           0;
	padding:          0;
	font-size:        14px;
	font-weight:      400;
	background-color: @body_bg;
	color:            @body_color;
}
#masthead {
	.top-bar {
		border-top: solid 3px #FF9200;
		border-bottom: solid 1px #ddd;
		background: #fafafa;
		height: 44px;
		line-height: 41px;
		span{
			font-weight: 700;
			padding-right: 15px;
			a{
				font-weight: 400;
				color: @body_color;
				&:hover{
					color: @body_second_color;
				}
			}
		}
		ul.search{
			padding: 0;
			list-style: none;
			margin: 0;
		}
		.li-search-form {
			input {
				float: left;
				margin: 0;
				padding: 0 5px;
				line-height: 40px;
				border: none;
				border-left: solid 1px #ddd;
				width: 200px;
				font-size: 15px;
				-webkit-transition: width .2s;
				-o-transition: width .2s;
				transition: width .2s;
				.rounded(0);
				outline: 0;
				height: 40px;
				&:focus{
					outline: 0;
					.box-shadow(none);
				}
			}
			button {
				border: none;
				background: #ff9200;
				color: #fff;
				line-height: 40px;
				float: left;
				padding: 0 12px;
				.rounded(0);
				border: 0;
				outline: 0;
			}
		}
	}
	.top-header{
		.header-left {
			margin-top: 20px;
			position: relative;
		}
		.header-right {
			text-align: right;
			padding-top: 12px;
		}
	}
	.main-navigation {
		background: @body_primary_color;
		list-style: none;
		ul.navbar-nav {
			> li {
				float: left;
				&:after {
					display: inline-block;
					width: 4px;
					height: 30px;
					background: url(../images/menu-dotted-line.png) no-repeat;
					content: " ";
					position: relative;
					top: 10px;
				}
				> a {
					.inline-block;
					padding:         18px 20px;
					color:           @white;
					font-size:       15px;
					text-decoration: none;
					text-transform:  uppercase;
					font-weight: 600;
				}
				&:hover {
					a {
//						color: @body_second_color;
						background: #5cb85c;
					}
				}
				&.menu-right {
					float:   right;
					width:   25%;
					padding: 8px 0;
					.search-form {
						position: relative;
						.form-control {
							.rounded(3px);
							padding-right: 40px;
						}
						.search-submit {
							position:      absolute;
							right:         0;
							top:           0;
							border-radius: 0 3px 3px 0px;
						}

					}
				}
				&:last-child{
					&:after{
						content: '';
						background: none;
					}
				}
			}
		}
	}
	.navbar-default{
		margin-bottom: 0;
		border: 0;
	}
}

.top-icon-box {
	ul{
		width: 768px;
		margin: 0 auto;
		li {
			.inline-block;
			float: left;
			width: 250px;
			height: 155px;
			background: #db3737;
			margin: 3px;
			padding: 10px 5px;
			text-align: center;
			color: #fff;
			overflow: hidden;
			img {
				.inline-block;
				margin-top: 5px;
				margin-bottom: 5px;
				-webkit-transition: opacity .2s;
				-o-transition: opacity .2s;
				transition: opacity .2s;
			}
			h4 {
				text-transform: uppercase;
				margin: 15px 0 20px 0;
				font-size: 20px;
				-webkit-transition: margin-top .2s;
				-o-transition: margin-top .2s;
				transition: margin-top .2s;
			}
			p {
				font-size: 15px;
				text-align: left;
				padding-left: 5px;
				padding-right: 5px;
			}
			&:hover{
				img {
					opacity: 0;
				}
				h4 {
					margin-top: -80px;
					margin-bottom: 7px;
				}
			}
			&.everything{
				background: #8b4999;
			}
			&.best{
				background: #3186b9;
			}
			&.simple{
				background: #ee7b22;
			}
			&.full-stack {
				background: #4a9342;
			}
			&support {
				background: #c41483;
			}
		}
	}
}

.main-slider {
	margin-bottom: 25px;
}

.feature-product {
	.entry-header {
		position: relative;
		h2 {
			font-size:      20px;
			font-weight:    700;
			text-transform: uppercase;
			background:     @body_bg;
			position:       relative;
			z-index:        999;
			span {
				background:    @body_bg;
				padding-right: 10px;
			}
			&:after {
				display:          block;
				position:         absolute;
				height:           2px;
				width:            100%;
				top:              50%;
				margin-top:       -1px;
				background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
				background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.15), transparent);
				content:          '';
				z-index:          -1;
			}
		}
		.customNavigation {
			position:     absolute;
			right:        0;
			background:   #fff;
			bottom:       -2px;
			padding-left: 10px;
			z-index:      99999;
			a {
				display:        inline-block;
				zoom:           1;
				vertical-align: middle;
				width:          36px;
				height:         36px;
				line-height:    36px;
				text-align:     center;
				border:         1px solid #d7d7d7;
				padding:        0;
				border-radius:  0;
				i {
					font-size:   14px;
					color:       #d7d7d7;
					line-height: 36px;
				}
			}
		}
	}
	.product-item {
		padding: 15px 10px;
	}
}

.product-list-category {
	margin-bottom: 20px;
	.product-list-item {
		padding: 20px 0;
		&:first-child {
			padding-top: 0;
			.entry-header {
				margin-top: 0;
			}
		}
	}
	.entry-header {
		position: relative;
		margin:   35px 0 25px;
		h2 {
			font-size:      20px;
			font-weight:    700;
			text-transform: uppercase;
			background:     @body_bg;
			position:       relative;
			z-index:        999;
			a {
				background:    @body_bg;
				padding-right: 10px;
				color:         @body_color;
			}
			&:after {
				display:          block;
				position:         absolute;
				height:           2px;
				width:            100%;
				top:              50%;
				margin-top:       -1px;
				background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
				background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.15), transparent);
				content:          '';
				z-index:          -1;
			}
		}
	}
}

.product-item {
	border: 1px solid #ddd;
	margin-bottom: 30px;
	height: 433px;
	position: relative;
	overflow: hidden;
	.rounded(3px);
	.product-thumnail {
		overflow: hidden;
		position: relative;
		background: #fff;

		width: 100%;
		padding: 2px;
		height: 356px;
		text-align: center;
		img {
			display:            inline-block;
			width:              100%;
			height:             auto;
			transition:         all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition:    all 0.3s ease 0s;
			-o-transition:      all 0.3s ease 0s;
			position:           absolute;
			top:                0;
			bottom:             0;
			margin:             auto;
			left:               0;
			z-index:            1;
			&:hover {
				transform:         scale(1.1, 1.1);
				-webkit-transform: scale(1.1, 1.1);
				-moz-transform:    scale(1.1, 1.1);
				-o-transform:      scale(1.1, 1.1);
				-ms-transform:     scale(1.1s, 1.1);
				opacity:           0.9;
			}
		}
	}
	.entry-content {
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 999;
		h3 {
			font-size: 16px;
			margin: 0 0 10px;
			a {
				color:       @body_color;
				font-weight: 700;
			}
		}
		.price {
			font-size: 15px;
			margin: 0 0 5px;
			span {
				color: #f00;
			}
		}
	}
	.product-hover{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: rgba(255,255,255,.9);
		transition: all 300ms ease 100ms;
		-moz-transition: all 300ms ease 100ms;
		-webkit-transition: all 300ms ease 100ms;
		-o-transition: all 300ms ease 100ms;
		z-index: 9999;
		padding: 15px;
		h3{
			font-weight: 700;
			font-size: 20px;
			text-transform: uppercase;
		}
		p{
			color: #f04040;
			font-weight: 700;
			line-height: 24px;
			font-size: 14px;
		}
		a{
			color: @body_color;
		}
		a.read-more{
			font-size: 16px;
			color: #fff;
			position: absolute;
			bottom: 20px;
			right: 20px;
		}
	}
	&:hover{
		.product-hover {
			bottom:  0;
			top: 0;
		}
	}
}

hr {
	background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
	background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.15), transparent);
	border:           0;
	height:           1px;
	margin:           22px 0;
}

#secondary {
	.widget {
		margin-bottom: 25px;
		.widget-title {
			margin:         0 0 15px;
			padding:        10px;
			background:     @body_primary_color;
			color:          @white;
			font-size:      18px;
			text-transform: uppercase;
		}
		&.widget_nav_menu {
			ul {
				padding:    0;
				margin:     0;
				list-style: none;
				li {
					margin:        0;
					padding:       0;
					border-bottom: 0;
					a {
						display: block;
						padding: 5px 10px;
						color:   @body_color;
						&:hover {
							color: @body_primary_color;
						}
					}
				}
				> li {
					> a {
						font-weight: 700;
						background:  @border_color;
						border:      0;
					}
				}
				ul.sub-menu {
					padding-left: 15px;
					li {
						a {
							font-weight:   400;
							background:    @body_bg;
							border-bottom: 1px dashed @body_primary_color;
						}
						&:last-child {
							a {
								border: 0;
							}
						}
					}
				}
			}
		}
		ul {
			padding:    0;
			margin:     0;
			list-style: none;
			li {
				margin:        0;
				padding:       7px 0;
				border-bottom: 1px dashed @border_color;
				a {
					color: @body_color;
					&:hover {
						color: @body_primary_color;
					}
				}
			}
		}
	}
}

.partner {
	margin:  20px 0;
	padding: 10px 0;
	border:  1px solid @border_color;
	.rounded(5px);
	.partner-item {
		padding: 0 10px;
	}
}

.list-term-child {
	margin-top: 15px;
	li {
		border-right:  1px solid @border_color;
		margin-bottom: 5px;
		&:last-child {
			border: 0;
		}
		a {
			color: @body_second_color;
			&:hover {
				color: @body_primary_color;
			}
		}
	}
}

.site-footer {
	background: #282828;
	padding:    20px 0 0px;
	margin-top: 25px;
	.top-footer {
		padding: 20px 0 25px;
		.widget {
			.widget-title {
				color:          #fff;
				font-size:      20px;
				text-transform: uppercase;
				margin:         0 0 15px;
				padding:        0 0 20px;
				border-bottom:  1px solid #fff;
			}
			p {
				color: #fff;
			}
			hr {
				background-image: -webkit-linear-gradient(left, transparent, rgba(255, 255, 255, .15), transparent);
				background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, .15), transparent);
				border:           0;
				height:           1px;
				margin:           15px 0;
			}
			ul {
				margin:  0;
				padding: 15px 0 0;
				li {
					padding:       10px 0;
					border-bottom: 1px solid #313131;
					list-style:    inside;
					font-size:     14px;
					color:         #fff;
					a {
						display:      inline-block;
						font-size:    14px;
						color:        #fff;
						padding-left: 15px;
					}
				}
			}
		}
	}
	.site-info {
		border-top: 1px solid #313131;
		padding:    15px 0;
		background: #000;
		p {
			color:  #fff;
			margin: 0;
		}
	}
}

.breadcrumbs-wrapper {
	background:    #f5f5f5;
	height:        50px;
	line-height:   50px;
	padding:       0;
	margin-bottom: 25px;
	.breadcrumb {
		padding: 0;
		a {
			color: @body_color;
		}
	}
}

.product-detail {
	padding: 10px 20px;
	.top-product-content {
		.thumbnail {
			border:  1px solid @border_color;
			.rounded(5px);
			padding: 5px;
		}
	}
	.entry-content {
		.entry-header {
			h2 {
				font-size:      20px;
				font-weight:    700;
				text-transform: uppercase;
				background:     #fff;
				position:       relative;
				z-index:        999;
				margin-bottom:  20px;
				&:after {
					display:          block;
					position:         absolute;
					height:           2px;
					width:            100%;
					top:              50%;
					margin-top:       -1px;
					background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
					background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.15), transparent);
					content:          '';
					z-index:          -1;
				}
				span {
					background:    @body_bg;
					padding-right: 15px;
				}
			}
		}
	}
}

/*comment*/
//Comment Form
.comments-area {
	.comment-reply-title {
		padding-left:   15px;
		font-size:      18px;
		color:          @body_primary_color;
		text-transform: uppercase;
	}
	.comment-form {
		.form-control {
			border-radius:      0;
			padding:            8px 20px;
			font-size:          14px;
			-webkit-box-shadow: none;
			-moz-box-shadow:    none;
			box-shadow:         none;
			border:             1px solid @border_color;
			color:              @body_color;
			height:             auto;
			&:focus {
				border:             1px solid @border_color !important;
				-webkit-box-shadow: none;
				-moz-box-shadow:    none;
				box-shadow:         none;
			}
			&:-webkit-input-placeholder {
				color: @body_color;
			}
			&:-moz-placeholder {
				/* Firefox 18- */
				color: @body_color;
			}
			&:-moz-placeholder {
				/* Firefox 19+ */
				color: @body_color;
			}
			&:-ms-input-placeholder {
				color: @body_color;
			}
		}
		.submit-comment {
			display:       block;
			text-align:    right;
			padding-right: 15px;
			input {
				height:         50px;
				line-height:    50px;
				font-size:      12px;
				color:          #fff;
				background:     @body_primary_color;
				text-transform: uppercase;
				padding:        0 48px 0 36px;
				letter-spacing: 0.5px;
				.rounded(0);
				border:         0;
				&:hover {
					background: darken(@body_primary_color, 10%);
					color:      #fff;
				}
			}
		}
		.logged-in-as {
			padding-left: 15px;
			a {
				color: @body_primary_color;
			}
		}
	}

	.comment-list {
		list-style: none;
		li.comment {
			margin-top: 25px;
		}
		.children {
			margin-left: 30px;
			list-style:  none;
		}
		img.avatar {
			float:          left;
			margin-right:   20px;
			vertical-align: top;
		}
		.author {
			line-height: 1;
			span {
				font-size:      12px;
				color:          @body_color;
				text-transform: uppercase;
				font-weight:    700;
				&:before {
					content: '';
				}
			}
		}
		.comment-extra-info {
			margin-top: 15px;
			.date {
				float:        left;
				margin-right: 25px;
			}
			.comment-reply-link {
				color:           @body_primary_color;
				text-transform:  uppercase;
				font-size:       12px;
				text-decoration: none;
			}
		}
		.message {
			padding:       20px 0 0;
			border-bottom: 1px solid @border_color;
			clear:         both;
			padding-left:  104px;
		}
	}
}

.archive {
	.site-main {
		.entry-header {
			padding-bottom: 20px;
			h2 {
				margin: 0 0 20px;
			}
			.descroption {
				font-size:   14px;
				line-height: 1.5;
			}
		}
	}
}

//pagination
.pagination {
	text-align:     center;
	width:          100%;
	margin:         0;
	border-radius:  0;
	padding:        20px;
	padding-bottom: 0;
	.pagination-title {
		display:      inline-block;
		margin-right: 10px;
	}
	ul {
		text-align: center;
		display:    inline-block;
		li {
			display:      inline-block;
			margin-right: 10px;
			a, span {
				background:      none;
				display:         inline-block;
				width:           30px;
				height:          30px;
				line-height:     30px;
				border:          0;
				text-decoration: none;
				color:           #666666;
				font-size:       13px;
			}
			i {
				//font-size: @font-size-table-icon !important;
			}
			a:hover,
			span.current {
				background: @body_primary_color;
				.rounded(100%);
				color:      #fff;
			}
		}
	}
}

.post-in-excerpt {
	margin-bottom: 30px;
	.entry-thumbnail figure {
		display: block;
		border:  1px solid #ddd;
		padding: 5px;
		img {
			width:         100%;
			height:        auto;
			border-radius: 1px;
		}
		&:hover {
			-webkit-box-shadow: 0 0 4px 0 #ccc;
			-moz-box-shadow:    0 0 4px 0 #ccc;
			box-shadow:         0 0 4px 0 #ccc;
		}
	}
	.entry-title {
		font-size: 19px;
		margin:    0 0 7px;
		a {
			color: #fea621;
		}
	}
	.post-excerpt {
		text-align:     justify;
		border-bottom:  dashed 1px #ccc;
		padding-bottom: 10px;
	}
	.pull-left {
		padding-top: 12px;
		a {
			line-height:        30px;
			font-size:          16px;
			padding:            0 20px;
			display:            inline-block;
			border:             1px solid #ccc;
			font-family:        'Roboto Condensed', sans-serif;
			color:              #666;
			-webkit-transition: background .2s;
			-o-transition:      background .2s;
			transition:         background .2s;
			&:hover {
				color:        #fff;
				background:   #fea621;
				border-color: #fff;
				outline:      #fea621 solid 1px;
			}
		}
	}
	.pull-right {
		text-align:  center;
		padding-top: 5px;
		color:       #999;
		ul > li > p {
			margin:  0;
			padding: 0;
		}
	}
}

.page-title {
	margin-top:     0;
	padding-bottom: 5px;
	margin-bottom:  30px;
	font-size:      25px;
	border-bottom:  solid 1px #ddd;
	text-transform: uppercase;
}
a.retina{
	display: block;
}
#carousel{
	ul{
		li{
			margin: 0 5px;
			cursor: pointer;
			img{
				opacity: 0.8;
			}
			&.flex-active-slide{
				img{
					opacity: 1;
				}
			}
		}
	}
}

.table-detail{
	tr{
		padding-top: 10px;
	}
	td{
		padding: 10px 20px !important;
		border: 1px solid #ddd;
	}
}
.product-detail{
	.top-product-content{
		.entry-title{
			h3{
				font-size: 26px;
				font-weight: 700;
				margin: 0 0 20px;
			}
		}
	}
	.tab-content>.tab-pane{
		padding: 20px;
	}
}
#slider-product,#carousel{
	margin-bottom: 20px;
}
.product-info{
	.product-status{
		margin: 0 0 10px;
		font-size: 18px;
		span{
			font-weight: 600;
		}
		.in-stock{
			color: #36CA04;
		}
		.out-stock{
			color: #f00;
		}
		.coming-stock{
			color: #0000cc;
		}

	}
	strong{
		display: block;
		margin-bottom: 20px;
		font-size: 18px;
	}
	.price{
		font-size: 26px;
		color: #f04040;
		padding: 10px 0;
	}
	.product-sales{
		p{
			font-weight: 600;
			color: red;
			background: url(../images/beacon_sprite.png) 0 -1526px no-repeat;
			display: block;
			padding-left: 19px;
		}
	}
	.comfortable_buy{
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				width: 49%;
				margin: 0 0 20px;
				a{
					color: #36CA04;
					text-decoration: none;
					font-size: 16px;
				}
				i{
					color: #fff;
					width: 32px;
					height: 32px;
					line-height: 32px;
					font-size: 16px;
					background: #f00;
					text-align: center;
					.rounded(100%);
				}
			}
		}
	}
	.product-hotline{
		p{
			font-size: 20px;
			font-weight: 700;
			i{
				padding-right: 10px;
			}
			span{
				color: #f00;
				font-style: italic;
			}
		}
	}
}
#detail2{
	h3{
		font-size: 20px;
	}
}
.is-sticky{
	.navbar-default{
		z-index: 99999;
	}
	.nav-tabs{
		z-index: 99999;
	}
}
.nav-tabs{
	border-top: 4px solid #5CB85C;
	background: #eee
}
.nav-tabs>li>a{
	color: #282828;
	font-size: 16px;
	padding: 15px 20px;
}
.list-home-item{
	padding-top: 30px;
	.entry-title{
		margin: 20px 0 ;
		position: relative;
		&:before{
			height: 4px;
			background: #5CB85C;
			display: block;
			content: '';
			position: absolute;
			top: 50%;
			margin-top: -2px;
			clear: both;
			width: 100%;
			z-index: 1;
		}
		&:after{
			display: block;
			content: '';
			clear: both;
		}
		h2{
			float: left;
			background: #fff;
			position: relative;
			z-index: 2;
			margin: 0;
			padding-right: 15px;
			color: #282828;
			font-size: 26px;
			text-transform: uppercase;
			a{
				color: #282828;
				&:hover{
					color: #5cb85c;
				}
			}
		}
	}
}
.sidebar-filter{
	.filter-widget{
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		h3{
			margin: 0;
			padding: 10px 0;
			background: #5CB85C;
			text-align: center;
			color: #fff;
		}
		ul{
			padding: 15px 0 15px 20px;
			margin: 0;
			list-style: none;
		}
	}
}








