.rs-over-flow {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#000;
	opacity:0.7;
	z-index:9999;
	display:none;
}
.rs-shortcode-wrap {
	position:fixed; 
	top:42px; 
	bottom:10px;
	left:50%;
	background:#F6F6F6;
	z-index:99999;
	max-width:1040px;
	display:none;
	margin-left:-505px;
}
.rs-shortcode-wrap.one-tab-only{
	margin-left: -394px;
}
.inner-column-grid {
	position:relative;
}
.close-column {
	position:absolute;
	right: -8px;
    top: -30px;
	font-size:16px;
}
.clear{
	clear: both;
}
.content-shortcode-popup{
	width: 1040px;
	margin: 0px auto;
	background: #f8f8f8;
	height:100%;
	position: relative;
}
.main-lists-shortcode{
	width: 250px;
	float: left;
	border-right: 1px solid #c4c4c4;
	background: #f8f8f8;
	height: 100%;
	position: relative;
}
.one-tab-only .main-lists-shortcode{
	display:none;
}
.one-tab-only .content-shortcode-popup{
	width:788px;
}
.lists-shortcode {
    bottom: 0;
    max-height: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: 100%;
}
.lists-shortcode ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.lists-shortcode ul li{
	border-bottom: 1px solid #e1e1e1;
	padding:17px 0 15px 18px;
	color: #393939;
	font-size: 13px;
	font-weight: 600;
	cursor: pointer;
	margin: 0;
}
.lists-shortcode ul li a{
	color: #393939;
	display: inline-block;
}
.lists-shortcode ul li a:focus{
	box-shadow:none;
}
.lists-shortcode ul li.active-tab{
	background: #f1f1f1;
}
.lists-shortcode ul li i{
	font-size: 15px;
	margin-right: 8px;
} 

.lists-shortcode > ul > li:hover{
	background: #f1f1f1;
}
.content-shortcode{
	float: left;
	height: 100%;
	overflow: hidden;
	width: 788px;
	background: #fff;
}
.content-shortcode {
    bottom: 0;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
}
.breadcrumb-shortcode{
	line-height: 28px;
	padding: 15px 0 15px 25px;
	border-bottom: 1px solid #e1e1e1;
	box-shadow: 0px 1px 2px #efefef;
	height: 22px;
}
.breadcrumb-shortcode p{
	margin: 0;
	padding: 0;
	font-weight: 400;
	color: #393939;
	font-size: 14px;
}
.breadcrumb-shortcode span{
	padding: 0px 10px;
}
.breadcrumb-shortcode a{
	font-weight: 600;
	color: #333;
	font-size: 14px;
}
.main-content-shortcode {
    bottom: 60px;
    overflow-y: auto;
    position: absolute;
    top: 53px;
    width: 100%;
}
.title-box-content-shortcode{
}
.title-box-content-shortcode h4{
	font-weight: 600;
	margin: 0 0 6px;
	color: #393939;
	font-size: 15px;
}
.title-box-content-shortcode p{
	font-weight: 400;
	font-style: italic;
	margin: 6px 0;
	padding: 0;
	color: #757575;
	font-size: 13px;
	line-height: 18px;
}
.main-box-content-shortcode{
}
.box-content-shortcode{
	border-bottom: 1px solid #eaeaea;
	padding: 25px;
}
.box-content-shortcode:last-child{
	border:none;
}
.list-style-shortcode ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.list-style-shortcode ul li{
	float: left;
	margin-left: 47px;
}
.list-style-shortcode ul li:first-child{
	margin-left: 0;
}
.action-shortcode{
	background: none repeat scroll 0 0 #f1f1f1;
    border-top: 1px solid #e1e1e1;
    bottom: 0;
    left: 0;
    padding: 15px 0;
    position: absolute;
    text-align: right;
    width: 100%;
	z-index: 999;
}
.action-shortcode button{
	font-size: 13px;
	height: 28px;
	line-height: 28px;
	border-radius: 3px;
	display: inline-block;
	padding: 0 10px 0 0;
	margin-right: 20px;
	font-weight: 400;
}
.action-shortcode button i{
	font-size: 16px;
	padding-right: 10px;
}
	
.action-shortcode .insert-shortcode{
	color: #fff;
	background: #2ea2cc;
	border: 1px solid #0074a2;
	cursor:pointer;
}	
.select-box-shortcode{
	float: right;
}
.insert-shortcode .dashicons {
    font-size: 27px;
    line-height: 28px;
}
.breadcrumb-shortcode .close-shortcode{
	color: #000000;
	font-size: 20px;
	position: absolute;
	right: 12px;
	top: 17px;
	cursor:pointer;
}