@charset "utf-8";
/* ============== FONTS AND RESET CSS ============== */
@font-face {
    font-family: 'nobileregular';
    src: url('../fonts/nobile.bold-webfont.eot');
    src: url('../fonts/nobile.bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nobile.bold-webfont.woff') format('woff'),
         url('../fonts/nobile.bold-webfont.ttf') format('truetype'),
         url('../fonts/nobile.bold-webfont.svg#nobileregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.rs-panel a,
.rs-panel .rs-button{
	outline:none!important;
	transition:none!important;
}
/* ============== PANEL ============== */
.rs-panel{
	margin:20px auto;
	border:1px solid #1a527d;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
}
.rs-header{
	min-height:79px;
	background:url(../images/bg_title.png) repeat-x top left #0e6491;
	width:100%;
	border-bottom:1px solid #0b3866;
}
.rs-header h2{
	font-family: 'nobileregular';
	font-size:36px;
	color:white;
	margin:0px;
	padding:0 0 0 23px;
	line-height: 73px;
	text-shadow: 1px 1px 2px #333333;
}
.rs-content{
	background:#dee7f3;
	width:100%;
	position:relative;
	padding:7px 0;
}
.rs-msg{
	margin-top:20px!important;
}
/*------------------rs-sidebar------------------------*/
.rs-sidebar{
	width:200px;
	background:#248dc1;
	color:white;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0;
}
.rs-avatar{
	padding:8px;
	border-bottom:1px solid #fff;
}
.rs-avatar img{
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #333333;
    box-shadow: 0 0 2px #444444;
    float: left;
    height: auto;
    width: 38px;
}
.rs-avatar p{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	margin:0px;
	padding-left:10px;
	float:left;
	line-height: 38px;
}
.rs-avatar p span{
	font-weight:700;
}
.rs-menu  ul{
	list-style:none;
	padding:0px;
	margin:0px;
}
.rs-menu  ul li{
	position:relative;
	margin: 0;
}
.rs-menu  ul li a{
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-top: 9px;
    text-decoration: none;
}
.rs-menu  ul li i.rs-icon{    font-size:20px;
	margin-right:6px;
	vertical-align:-5px;
}
.rs-menu  ul ul li a{
	font-weight:normal;	
}
.rs-menu  ul ul li a:hover,
.rs-menu  ul ul li.active a{
	background-color:#2CA7E0;
}
.rs-menu  ul ul li a{
	background:url(../images/arrow.png) no-repeat 22px center;
	padding-left:44px;
}
.rs-menu  ul ul{
	display:none;
	background:#389bcf;
	padding:1px 0;
}

.rs-menu li.hassub{
	position:relative;
}

.rs-menu > ul > li:hover,.rs-menu  > ul > li.active {	background:#0E6390;}

.rs-menu  > ul > li.active > a:after,
.rs-menu li.hassub:hover > a:after{
	content: "";
	float:right;
	display:block;
	border:9px solid transparent;
}
.rs-menu li.hassub:hover > a:after{
	border-right-color:#389BCF;
}
.rs-menu  > ul > li.active > a:after{
	border-right-color:#DEE7F3!important;
}

.rs-menu  > ul > li.active ul{
	display:block;
}
.rs-menu li.hassub:hover > ul{
	position:absolute;
	left:100%;
	width:150px;
	top:0;
	display:block;
	transition:width 1s ease 0s;
	z-index:1;
	box-shadow:1px 1px 3px -2px #333333
}
.rs-menu li.hassub.active:hover > ul{
	width:auto;
	position:static;
	box-shadow:none;
}	
/*--------------content right--------------*/
.rs-content-main{
	margin:0 7px 0 207px;
}
.locale-he-il .rs-content-main {
    margin: 0 207px 0 7px;
}
.rs-breadcrumb {
	min-height:37px;
	line-height: 37px;
	margin-bottom:7px;
	background:white;
}
.rs-breadcrumb ul{
	list-style:none;
	margin:0px;
	padding:0px 0px 0px 10px;
}
.rs-breadcrumb ul li{
	float:left;
	background:url(../images/bread.png) no-repeat left center;
	padding:0 6px 0 16px;
}
.rs-breadcrumb ul li a{
	color:#676767;
	text-decoration:none;
	font-size:13px;
}

.rs-breadcrumb ul li:first-child{
	background:url(../images/bg_home.png) no-repeat center left;
	padding-left:20px;
	
}
.rs-breadcrumb .last a{
	color:#222222;
}.rs-form{	position:relative;	padding-bottom:60px;	border-top:5px solid #b6d1f2;	background:white;
	min-height:400px;}.rs-fields{    clear: both;
	display:none;}
.rs-field{	padding:15px 35px 25px 15px;	border-bottom:1px solid #dedede;}
.rs-field-label{
	width:25%;
	float:left;
	min-height:30px;
}
.rs-field-editor{
	width:69.9999%;
	float:left;
	padding-left:5%;
	position:relative;
}

.rs-field-label label{
	margin:0px;
	font-size:13px;
	color:#494949;
	padding-bottom: 5px;
}
.rs-field-label p{
	margin:0px;
	font-size:12px;
	color:#838383;
}

.rs-field-editor label {
    display: block;
    padding-bottom: 10px;
}
.rs-field-editor .rs-checkbox{
	margin-right:10px;
	margin-bottom:-3px;
}
.rs-checkable.rs-radio {
    margin-bottom: -3px;
	margin-right:5px;
}

#rs-tabs{
	position:relative;

}
.rs-tabs-addnew {
	background: url("../images/bg_newtab.png") repeat-x scroll left top rgba(0, 0, 0, 0);
	border: 1px solid #899EB5;
	border-radius: 3px;
	color: #353535 !important;
	display: block;
	font-size: 11px;
	height: 16px;
	line-height: 16px;
	padding: 3px 5px;
	position: absolute;
	right: 8px;
	text-decoration: none;
	top: 8px;
}

ul.tagit{
	min-height:24px;
}
ul.tagit li.tagit-choice .tagit-close {
    left: 3px;
}
.tagit-label{
	padding-left:12px;
}
ul.tagit li.tagit-choice{
	background:url(../images/bg_addimg.png) repeat-x top left;
}

.rs-form-action {
    background: none repeat scroll 0 0 #FFFFFF;
	border-top:6px solid #DEE7F3;
	position:absolute;	top:100%;	left:0;
	right:0;
	padding:10px;
	min-height:35px;
	text-align:center;
	margin-top:-60px;
	z-index:1;
}
.rs-form-action .rs-button{
	float:right;
}
.rs-form-action .spinner{
	margin-top:5px;
}
.rs-panel .rs-button [class^=icon],
.rs-panel .rs-button [class*=icon]{
	vertical-align:-1px;
}
/* --------------------------- custom jquery ui style --------------------------- */

.ui-widget-header{
	background:url("../images/bg_tab.png") repeat-x scroll left top #EDEDED;
}
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev-hover, 
.ui-datepicker .ui-datepicker-next-hover{
	top:2px;	
}