.rs-slider-input {
	display: none;
}
.ui-slider .ui-slider-handle span:before {
	content: " ";
	width: 0;
	height: 0;
	border: 5px solid rgba(255,255,255,0);
	border-top-color: #888;
	position: absolute;
	bottom: -11px;
	left: 50%;
	margin-left: -5px;
}
.ui-slider .ui-slider-handle span:after {
	content: " ";
	width: 0;
	height: 0;
	border: 5px solid rgba(255,255,255,0);
	border-top-color: rgba(255,255,255,1);
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -5px;
}
.ui-slider .ui-slider-handle span{
	position: absolute;
	top: -30px;
	display: block;
	width: 40px;
	margin-left: -20px;
	left: 50%;
	height: 20px;
	line-height: 20px;
	background: white;
	border-radius: 3px;
	border: 1px solid #888;
	text-align: center;
	font-size: 12px;
	opacity: 1;
	color: #333;
	
	-webkit-transition-delay: 0, 0, 200ms;
	-moz-transition-delay: 0, 0, 200ms;
	-ms-transition-delay: 0, 0, 200ms;
	transition-delay: 0, 0, 200ms;
}
